.msgclass {
    width: 100%;
    height:100%;
    text-align: center;
}

.readMessage {
background-image: url('../Images/readImg.png');
width: 21px;
height: 18px;
}

.unreadMessage {
background-image: url('../Images/unreadImg.png');
width: 21px;
height: 18px;
}

.male {
background-image: url('../Images/maleImg.png');
width: 25px;
height: 34px;
}

.female {
background-image: url('../Images/femaleImg.png');
width: 25px;
height: 34px;
}

.mailchk {
    position: absolute;
    top: 2px;

}

.genderchk {
    position: absolute;
    left: 30px;
}

.senderClass {
    position: absolute;
    left: 70px;
}

.subjectClass {
    position: absolute;
    top:20px;
    left:70px;
    
    
}

.unreadCount {
    border: 1px solid rgb(172, 172, 185);
    border-radius: 20px;
    background-color: rgb(172, 172, 185);
    
    
}
    

.msgcontainer {
    position:relative;
    width: 100%;
    height: 30%;
    
}