.orderHeading {
    position: absolute;
    top:41%;
    left: 4%;
    float: left;
    

}
.ordersClass {
    position: absolute;
    top: 45%;
    left: 4%;
    width: 44%;
    height: 42%;
    max-width: 800px;;
    border: 2px solid rgb(199, 191, 191);
    border-radius: 2%;
    text-align: center;
    overflow: auto; 
    
    
    
}

.messageHeading{
    position: absolute;
    top:41%;
    left: 52%;

}

.messagesClass {
    position: absolute;
    top:45%;
    left: 52%;
    width:44%;
    height: 40%;
    padding:5px;
    /* border: 2px solid rgb(192, 181, 181); */
    border: 2px solid  rgb(212, 209, 209);
    border-radius: 2%;
}

.headerClass{
    position: relative;
    height:50%;
}



